aside {
  background-color: $mulled-whine;
  height: 100vh;
  font-size: 1.5rem;
  min-width: 3em;
  position: fixed;

  nav {
    margin-top: 3em;

    .navbar {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: block;
        border-left: 3px solid transparent;

        &:hover {
          border-color: $supernova;
          cursor: pointer;
        }
      }
    }

    .nav-link {
      text-decoration: none;
      padding: 0.75em 0 0.75em calc(1em - 3px);
      display: block;
      color: $white;
      margin: 0 auto;
    }
  }
}
